body {
  background: black;
}
.video-wrap .video-js {
  font-size: 12px !important;
}
.video-wrap .video-js .vjs-time-control {
  display: block;
}
.video-wrap .video-js .vjs-remaining-time {
  display: none;
}
.video-wrap .video-js.vjs-playing .vjs-tech {
  pointer-events: auto;
}
.video-wrap .video-js .vjs-control-bar {
  z-index: 101;
}
.video-wrap .video-js .vjs-big-play-button{
  font-size: 2.5em;
  line-height: 2.3em;
  height: 2.5em;
  width: 2.5em;
  -webkit-border-radius: 2.5em;
  -moz-border-radius: 2.5em;
  border-radius: 2.5em;
  background-color: #73859f;
  background-color: rgba(115,133,159,.5);
  border-width: 0.15em;
  margin-top: -1.25em;
  margin-left: -1.75em;
}
/* 中间的播放箭头 */
.video-wrap .vjs-big-play-button .vjs-icon-placeholder {
  font-size: 1.63em;
}
/* 加载圆圈 */
.video-wrap .vjs-loading-spinner {
  font-size: 2.5em;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  margin-top: -1em;
  margin-left: -1.5em;
}
.video-wrap .vjs-paused .vjs-big-play-button,
.video-wrap .vjs-paused.vjs-has-started .vjs-big-play-button {
    display: block;
}
.video-wrap .video-js .vjs-title-bar {
  color: #fff;
  font-weight: bold;
  display: none;
  font-size: 2em;
  padding: .5em;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 80px;
  height: 40px;
  width: 100%;
  background-color: rgba(0,0,0,.25);
}
.video-wrap .video-js .vjs-title-bar .vjs-menu-btn {
  cursor: pointer;
  float: right;
  position: relative;
  background-image: url(http://pj6zp7ks4.bkt.clouddn.com/image/menu.png);
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  transition: right 1s;
  right: 0;
}
.video-wrap .video-js.vjs-paused.vjs-has-started .vjs-title-bar,
.video-wrap .video-js.vjs-user-active.vjs-has-started .vjs-title-bar{
  display: block;
}
.r-content {
  height: calc(100vh - 3.7em);
}
.video-wrap {
  position: relative;
  height: 100%;
  width: 100%;
}
.video-wrap .vjs-playlist {
  width: 0;
  float: right;
  top: 0;
  position: absolute;
  right: 0;
  height: 100%;
  background: rgba(0,0,0,.15);
  transition: width 1s;
  z-index: 100;
}
.video-wrap .vjs-playlist .vjs-selected {
  background-color: rgba(255,255,255,.5)
}
.video-wrap .vjs-playlist .vjs-playlist-thumbnail-placeholder {
  background: rgba(0.3,0.3,0.3, .5);
}
*:focus {
    outline: none;
}